.navbar{
    background-color: rgba(235, 235, 235, 0.95) !important;
}
.navbar .nav-item a{
    color: rgb(0,0,0) !important;
}
.navbar .dropdown-menu{
    background-color: rgba(242, 118, 49, 0.25);
}
.dropdown-item:hover{
    background-color: rgba(242, 118, 49, 0.75);
}
.btn-primary{
    color: rgb(0,0,0);
    background-color: rgb(242,118,49);
    border-color: rgb(255, 129, 0);
}
.btn-primary:hover{
    color: rgb(0,0,0);
    background-color: rgb(252, 196, 139);
    border-color: rgb(255, 129, 0)
}
.KWquestionstyle{
    color: rgb(151,0,139);
    font-size: 1.3em;
    text-shadow: 2px 4px 10px black;
}
.KWtitlestyle{
    color: rgb(0,0,0);
    font-size: 1em;
}